.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card CSS start from here  */

@media (min-width: 576px) {
  .card {
    width: 48%; /* Show two cards per row on small screens */
  }
  .githubUsersParentContainer #appTitle {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 40%; /* Show three cards per row on medium screens */
  }
  .githubUsersParentContainer #appTitle {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .card {
    width: 25%; /* Show four cards per row on large screens */
  }
  .githubUsersParentContainer #appTitle {
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 18%; /* Show five cards per row on extra-large screens */
  }
  .githubUsersParentContainer #appTitle {
    font-size: 35px;
  }
}

.card {
  /* width: 18%; */
  height: auto;
  border: 1px solid#007bff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: inline-block;
  margin: 10px;
  text-transform: capitalize;
}

.card:hover {
  scale: 1.1;
}

.card-img-top {
  width: 120px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.githubUsersParentContainer {
  padding: 50px;
  text-align: center;
}

.searchBarContainer {
  width: auto;
  padding: 50px;
}

#appTitle {
  font-weight: bold;
  color: #0055af;
  font-size: 25px;
}

.modal-body {
  text-align: left;
  padding-left: 50px;
}
/* Card CSS ends here  */
